@import "../../styles/mixins";

.urb-blockly-workspace {
  #injectionDiv .injectionDiv {
    width: 100%;
    .blocklySvg {
      width: 100%;
    }
    .blocklyFlyoutScrollbar[display="none"] {
      display: none; // hey???? it works though
    }
  }
}
