// mine
// .height100px{
//     height: 100px;
// }

.fill {
  width: 100%;
  height: 100%;
}

.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.speech-bubble {
  position: relative;
  background: var(--colors-light-menu-background);
  color: var(--colors-light-menu-text);
  border-radius: 0.4em;
  top: 18px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 6%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom-color: var(--colors-light-menu-background);
  border-top: 0;
  margin-top: -10px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.widthFillAvailable {
  width: -webkit-fill-available;
}

.widthMaxContent {
  width: max-content;
}

.heightFillAvailable {
  height: -webkit-fill-available;
}
.outlined {
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.thickOutlined {
  color: white;
  text-shadow: 0px 10px 0.02px #000, 9.8px 2.1px 0.02px #000,
    4.2px -9.1px 0.02px #000, -8px -6px 0.02px #000, -7.6px 6.5px 0.02px #000,
    4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10px 0.02px #000,
    -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000,
    7.1px -7px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000,
    1.4px 9.9px 0.02px #000, 10px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000,
    -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8px 0.02px #000,
    9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000,
    -10px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000,
    6.1px -8px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000,
    2.7px 9.6px 0.02px #000, 10px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000,
    -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7px 7.2px 0.02px #000,
    8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000,
    -9.9px 1.3px 0.02px #000, -0.8px 10px 0.02px #000, 9.6px 2.9px 0.02px #000,
    4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000,
    -8.1px 5.9px 0.02px #000, 4px 9.2px 0.02px #000, 9.8px -2px 0.02px #000,
    0.2px -10px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9px 0.02px #000,
    7.9px 6.1px 0.02px #000;
}

.navArrows {
  background-color: #8dcafe;
}
.noWrap {
  text-overflow: ellipsis;
  // width: 100%;
}
.up5px {
  position: relative;
  top: -5px;
}

.up10px {
  position: relative;
  top: -10px;
}

.hideNextSiling + * {
  display: none;
}

.hideFirstChild {
  :nth-child(1) {
    display: none;
  }
}

.hideSecondChild {
  :nth-child(2) {
    display: none;
  }
}

.hideThirdChild {
  :nth-child(3) {
    display: none;
  }
}

.backgroundColorWhite {
  background-color: white;
}

.borderRadius16px {
  border-radius: 16px;
}

.padding10px {
  padding: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.backgroundColorInherit {
  background-color: inherit;
}

.height100px {
  height: 100px;
}

.fontSizeSmall {
  font-size: small;
}

.fontSizeLarge {
  font-size: large;
}

.fontSizeXSmall {
  font-size: x-small;
}

.fontSizeXLarge {
  font-size: x-large;
}

.height50pc {
  height: 50%;
}

.height40pc {
  height: 40%;
}

.zindex0 {
  z-index: 0;
}

.overflowYOverlay {
  overflow-y: overlay;
}

.fill {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.width-80-pc {
  width: 80%;
}

.full-height {
  height: 100%;
}

.appMargin {
  margin: 0 5px 0 5px;
  height: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}

// .size(@width;

//     @height) {
//   width: @width;
//   height: @height;
// }

.maxWidth200px {
  max-width: 200px;
}

.maxHeight200px {
  max-width: 200px;
}

.maxWidth600px {
  max-width: 600px;
}

// .width(@width) {
//   width: @width;
// }

// .height(@height) {
//   height: @height;
// }

.widthInherit {
  width: inherit;
}

.heightInherit {
  height: inherit;
}

.background-contain {
  background-size: contain;
  height: auto;
}

.textOutline {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.absolute {
  position: absolute;
}

.cover {
  object-fit: cover;
  // background-size: cover;
}

.templateHeight {
  height: 224px;
  width: 156px;
  margin: 11px;
}

.contain {
  object-fit: contain;
  // background-size: contain
}

.cursorPointer {
  cursor: pointer;
}

.pointer-events {
  pointer-events: all;
}

.no-pointer-events {
  pointer-events: none;
}

.underlined {
  text-decoration: underline;
}

.fontSizeSmaller {
  font-size: smaller;
}

.backgroundBlue {
  background-color: rgb(63, 81, 181);
}

.minWidth30pc {
  min-width: 30%;
}

.minWidth50pc {
  min-width: 50%;
}

.disabled {
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.textAlignCenter {
  text-align: center;
}

.fontSize1 {
  font-size: 1rem;
}

.padding0 {
  padding: 0;
}

.padding5px {
  padding: 5px;
}

.padding10px {
  padding: 10px;
}

// .padding(@padding) {
//   padding: @padding;
// }

.height80px {
  height: 80px;
}

.maxWidth90vw {
  max-width: 90vw;
}

.width100vw {
  width: 100vw;
  overflow-x: hidden;
  // padding-left : 40px;
  // padding-right: 40px;
}

.height100vh {
  height: 100vh;
}

.colorWhite {
  color: white;
}

.rotate180 {
  transform: rotate(180deg);
}

.margin20px {
  margin: 20px;
}

.marginLeft20px {
  margin-left: 20px;
}

.marginRight20px {
  margin-right: 20px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.margin-10 {
  margin: -10px;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.overflowXHidden {
  overflow-x: hidden;
}

.overflowXAuto {
  overflow-x: auto;
}

.overflowYHidden {
  overflow-y: hidden;
}

.overflowYAuto {
  overflow-y: auto;
}

.transparent {
  background-color: #ffff;
}

.pointerEventsNone {
  pointer-events: none;
}

.pointerEventsAll {
  pointer-events: all;
}

.padding0 {
  padding: 0;
}

.objectFitContain {
  object-fit: contain;
}

.redButton {
  background-color: red;
  color: white;
}

.greenButton {
  background-color: green;
  color: white;
}

// .flash {
//     animationName: flash;
//     animationDuration: 0.2s;
//     animationTimingFunction: linear;
//     animationIterationCount: infinite;
//     animationDirection: alternate;
//     animationPlayState: running;
// }
// @keyframes flash {
//     from {
//         color: red;
//     }
//     to {
//         color: black;
//     }
// }
